[submodule "refs/heroku-buildpack-php"]
	path = refs/heroku-buildpack-php
	url = https://github.com/heroku/heroku-buildpack-php.git
[submodule "refs/heroku-buildpack-nodejs"]
	path = refs/heroku-buildpack-nodejs
	url = https://github.com/heroku/heroku-buildpack-nodejs.git
